# macOS
.DS_Store

# Xcode
*.xcodeproj
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/
xcuserdata/
*.xcuserstate
DerivedData/

# Swift Package Manager
.build/
.swiftpm/

# Build
*.ipa
*.dSYM.zip
*.dSYM
